////////////////////////////////////////////////////////////////////////////////
/// Colors
////////////////////////////////////////////////////////////////////////////////
@import './color-list';
$primary: 'dodger-blue';
$secondary: 'pink';
$lighten-darken-amount: 8;
$grey: map-get($base-colors, 'grey');
$light-grey: lighten(map-get($base-colors, 'grey'), $lighten-darken-amount * 4);
$primary-color: map-get($base-colors, $primary);
$secondary-color: map-get($base-colors, $secondary);

////////////////////////////////////////////////////////////////////////////////
/// Screen Sizes
////////////////////////////////////////////////////////////////////////////////
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

////////////////////////////////////////////////////////////////////////////////
/// Flow Text
////////////////////////////////////////////////////////////////////////////////
$range: $large-screen - $small-screen !default;
$intervals: 20 !default;
$interval-size: $range / $intervals !default;
////////////////////////////////////////////////////////////////////////////////
/// Text
////////////////////////////////////////////////////////////////////////////////
$paragraph-margins: 2.5rem 0;
$h1-fontsize: 4rem;
$h-font-decrease-amount: .5;
$link-text-color: $primary-color;
$link-background-color: $primary-color;
$hover-text-color: lighten($primary-color, $lighten-darken-amount * 2);
$hover-background-color: $primary-color;
////////////////////////////////////////////////////////////////////////////////
/// Borders
////////////////////////////////////////////////////////////////////////////////
$border-radius: 3px;

////////////////////////////////////////////////////////////////////////////////
/// Breadcrumbs
////////////////////////////////////////////////////////////////////////////////
$breadcrumb-separator: '\e315';
$breadcrumb-separator-reverse: '\e314';

////////////////////////////////////////////////////////////////////////////////
/// Tooltips
////////////////////////////////////////////////////////////////////////////////
$tooltip-open-speed: 0.1s;
$tooltip-close-speed: 0.1s;
$tooltip-font-size: 0.8rem;