@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
}
// Import variables
@import './variables';

// Import layouts
@import './layout/layout';
@import './layout/grid';
@import './layout/navigation';

// Import inputs
@import './input/button';

// Import misc
@import './misc/tags';
@import './misc/colors';
@import './misc/text';
@import './misc/borders';
@import './misc/visibility';
@import './misc/helpers';

// Import components
@import './components/card';
@import './components/flow-text';
@import './components/badge';
@import './components/collection';
@import './components/breadcrumb';
@import './components/tooltip';
// @import './components/parallax'
