html
    head
        title Views Example 3
        link(href=`/css/framework.css` rel='stylesheet')
    body
        .grid.grid-vertical
            .grid.grid-middle.view.red.view.white-text
                h1 Sections
            .grid.view.blue.view.white-text
                .cell.cell-4.cell-middle.text-center
                    h1 Are
                .cell.cell-4.cell-middle.text-center
                    h1 Easy
                .cell.cell-4.cell-middle.text-center
                    h1 Ways
            .grid.grid-middle.view.teal.view.white-text
                .cell.cell-3.cell-middle.text-center
                    h1 To
                .cell.cell-3.cell-middle.text-center
                    h1 Make
                .cell.cell-3.cell-middle.text-center
                    h1 Full
                .cell.cell-3.cell-middle.text-center
                    h1 Screen
            .grid.grid-middle.view.brown.view.white-text
                h1 Areas
            .grid.grid-middle.view.white.view
                    h1 Go back to the docs on #[a(href='/doc/css/views') Sections]