extends ../../wrapper
block content
  +card-header('Badges', 'Badges can notify you that there are new or unread messages or notifications. Add the new class to the badge to give it the background.')
  .section
    p hello #[span.badge 4 new]