extends ../wrapper
block content
  .card.section
    .card-header.secondary-color.white-text
      h2.card-title JavaScript Documentation
  .section
    p.
      All items in the JavaScript section require that the JavaScript portion of the framework is included.
    pre: code.language-html
      ='<script src="/js/prefab.js"></script>'