* + ul.dropdown {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 0;
  width: 0;
  overflow: hidden;
  box-shadow: $dropdown-shadow;
  position: absolute;
  z-index: 10000;
  background-color: #ffffff;

  &.show {
    height: fit-content;
    width: fit-content;
  }

  & > li {
    &.divider {
      border-bottom: solid 1px $medium-grey;
    }

    & > a {
      padding: 10px 20px;
      display: block;
      white-space: nowrap;

      &:hover {
        background-color: $light-grey;
        color: $primary-color;
      }
    }
  }
}