.flow-text {
  font-weight: 300;
  $i: 0;

  @while $i <= 150 {
    @media only screen and (min-width: 360 + ($i * $interval-size)) {
      font-size: 1.2rem * (1 + (.01 * $i));
      line-height: 1.2rem * (1 + (.03 * $i));
    }
    $i: $i + 1;
  }

  // Handle below 360px screen
  @media only screen and (max-width: 360px) {
    font-size: 1.2rem;
  }
}
