nav {
  display: flex;
  flex-flow: row;
  background-color: $primary-color;
  $i: 2;
  flex: 0 !important;

  @while $i <= 16 {
    &.nav-raised-#{$i} {
      box-shadow: 0 0 ($i * 4px) (#{$i}px) rgba(0, 0, 0, 0.5);
    }
    $i: $i + 2;
  }
  width: 100%;

  &.fixed {
    position: fixed;
    z-index: 100;
  }

  &.nav-vertical {
    flex-direction: row;
    max-width: 400px;
    flex: 1;
    height: 100vh;
    align-items: flex-start;
    position: fixed;
    width: inherit;
    overflow: auto;
    z-index: 200;

    ul {
      flex-flow: column;
    }
  }

  .cell {
    display: flex;
  }

  .brand {
    display: flex;
    flex-flow: column;
    flex: 0;
    justify-content: center;
    font-size: 2rem;
    font-weight: 300;
    white-space: nowrap;

    & > a {
      display: flex;
      flex: 1;
      align-items: center;

      img {
        max-height: 50px;
      }
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-flow: row;
    padding: 0;
    margin: 0;
    flex: 1;
    justify-content: flex-end;

    &.left {
      justify-content: flex-start;
    }

    &.center {
      justify-content: center;
    }

    & > li {
      display: flex;

      & > a {
        padding: 1.4rem 2rem;
        text-decoration: none;
        display: flex;
        flex: 1;
        align-items: center;
        letter-spacing: 1px;
        color: #ffffff;
      }

      & > a:hover {
        background-color: lighten($primary-color, $lighten-darken-amount);
        color: #ffffff;
      }

      &.active {
        background-color: darken($primary-color, $lighten-darken-amount);

        a {
          color: #ffffff;
        }
      }
    }
  }
}
