@each $name, $color in $base-colors {
  $amount: 40;

  @for $i from 0 through 9 {
    @if $i == 0 {
      .#{$name}-#{50} {
        background-color: lighten($color, $amount);
      }

      .#{$name}-text-50 {
        color: lighten($color, $amount);
      }

      @if $name == $primary {
        .primary-color-50 {
          background-color: lighten($color, $amount);
        }

        .primary-color-text-50 {
          color: lighten($color, $amount);
        }
      }

      @if $name == $secondary {
        .secondary-color-50 {
          background-color: lighten($color, $amount);
        }

        .secondary-color-text-50 {
          color: lighten($color, $amount);
        }
      }
      $amount: $amount - $lighten-darken-amount;
    } @else if $i == 5 {
      .#{$name} {
        background-color: $color;
      }

      .#{$name}-text {
        color: $color;
      }

      @if $name == $primary {
        .primary-color {
          background-color: $color;
        }

        .primary-color-text {
          color: $color;
        }
      }

      @if $name == $secondary {
        .secondary-color {
          background-color: $color;
        }

        .secondary-color-text {
          color: $color;
        }
      }
      $amount: $amount + $lighten-darken-amount;
    } @else if $i < 5 {
      .#{$name}-#{($i*100)} {
        background-color: lighten($color, $amount);
      }

      .#{$name}-text-#{($i*100)} {
        color: lighten($color, $amount);
      }

      @if $name == $primary {
        .primary-color-#{($i*100)} {
          background-color: lighten($color, $amount);
        }

        .primary-color-text-#{($i*100)} {
          color: lighten($color, $amount);
        }
      }

      @if $name == $secondary {
        .secondary-color-#{($i*100)} {
          background-color: lighten($color, $amount);
        }

        .secondary-color-text-#{($i*100)} {
          color: lighten($color, $amount);
        }
      }
      $amount: $amount - $lighten-darken-amount;
    } @else if $i > 5 {
      .#{$name}-#{($i*100)} {
        background-color: darken($color, $amount);
      }

      .#{$name}-text-#{($i*100)} {
        color: darken($color, $amount);
      }

      @if $name == $primary {
        .primary-color-#{($i*100)} {
          background-color: darken($color, $amount);
        }

        .primary-color-text-#{($i*100)} {
          color: darken($color, $amount);
        }
      }

      @if $name == $secondary {
        .secondary-color-#{($i*100)} {
          background-color: darken($color, $amount);
        }

        .secondary-color-text-#{($i*100)} {
          color: darken($color, $amount);
        }
      }
      $amount: $amount + $lighten-darken-amount;
    }
  }
}

.black {
  background-color: #000000;
}

.black-text {
  color: #000000;
}

.white {
  background-color: #ffffff;
}

.white-text {
  color: #ffffff;
}
