@mixin color-overrides($name, $color, $primary, $offset, $amount, $type: '') {
  @if $amount != 0 {
    .#{$name}-#{$offset} {
      background-color: lighten($color, $amount) !important;
    }

    .#{$name}-text-#{$offset} {
      color: lighten($color, $amount) !important;
    }

    .btn.#{$name}-#{$offset},
    .fab.#{$name}-#{$offset} {
      @if ($type == 'lighten') {
        background-color: lighten($color, $amount) !important;
      } @else if($type == 'darken') {
        background-color: darken($color, $amount) !important;
      } @else {
        background-color: $color !important;
      }

      &[class^='-hover']:hover {
        background-color: lighten($color, $amount * 2) !important;
      }
    }

    .btn.#{$name}-text-#{$offset},
    .fab.#{$name}-text-#{$offset} {
      @if ($type == 'lighten') {
        color: lighten($color, $amount) !important;
      } @else if($type == 'darken') {
        color: darken($color, $amount) !important;
      } @else {
        color: $color !important;
      }

      &[class^='-hover']:hover {
        color: lighten($color, $amount * 2) !important;
      }
    }

    .btn.#{$name}-text-hover-#{$offset}:hover,
    .fab.#{$name}-text-hover-#{$offset}:hover,
    .#{$name}-text-hover-#{$offset}:hover {
      @if ($type == 'lighten') {
        color: lighten($color, $amount) !important;
      } @else if($type == 'darken') {
        color: darken($color, $amount) !important;
      } @else {
        color: $color !important;
      }
    }

    .btn.#{$name}-hover-#{$offset}:hover,
    .fab.#{$name}-hover-#{$offset}:hover,
    .#{$name}-hover-#{$offset}:hover {
      @if ($type == 'lighten') {
        background-color: lighten($color, $amount) !important;
      } @else if($type == 'darken') {
        background-color: darken($color, $amount) !important;
      } @else {
        background-color: $color !important;
      }
    }

    @if $name == $primary {
      .primary-color-#{$offset} {
        @if ($type == 'lighten') {
          background-color: lighten($color, $amount) !important;
        } @else if($type == 'darken') {
          background-color: darken($color, $amount) !important;
        } @else {
          background-color: $color !important;
        }
      }

      .primary-color-text-#{$offset} {
        @if ($type == 'lighten') {
          color: lighten($color, $amount) !important;
        } @else if($type == 'darken') {
          color: darken($color, $amount) !important;
        } @else {
          color: $color !important;
        }
      }

      .btn.primary-color-hover-#{$offset}:hover,
      .fab.primary-color-hover-#{$offset}:hover,
      .primary-color-hover-#{$offset}:hover {
        @if ($type == 'lighten') {
          background-color: lighten($color, $amount) !important;
        } @else if($type == 'darken') {
          background-color: darken($color, $amount) !important;
        } @else {
          background-color: $color !important;
        }
      }

      .btn.primary-color-text-hover-#{$offset}:hover,
      .fab.primary-color-text-hover-#{$offset}:hover,
      .primary-color-text-hover-#{$offset}:hover {
        @if ($type == 'lighten') {
          color: lighten($color, $amount) !important;
        } @else if($type == 'darken') {
          color: darken($color, $amount) !important;
        } @else {
          color: $color !important;
        }
      }
    }

    @if $name == $secondary {
      .secondary-color-#{$offset} {
        @if ($type == 'lighten') {
          background-color: lighten($color, $amount) !important;
        } @else if($type == 'darken') {
          background-color: darken($color, $amount) !important;
        } @else {
          background-color: $color !important;
        }
      }

      .secondary-color-text-#{$offset} {
        @if ($type == 'lighten') {
          color: lighten($color, $amount) !important;
        } @else if($type == 'darken') {
          color: darken($color, $amount) !important;
        } @else {
          color: $color !important;
        }
      }

      .btn.secondary-color-hover-#{$offset}:hover,
      .fab.secondary-color-hover-#{$offset}:hover,
      .secondary-color-hover-#{$offset}:hover {
        @if ($type == 'lighten') {
          background-color: lighten($color, $amount) !important;
        } @else if($type == 'darken') {
          background-color: darken($color, $amount) !important;
        } @else {
          background-color: $color !important;
        }
      }

      .btn.secondary-color-text-hover-#{$offset}:hover,
      .fab.secondary-color-text-hover-#{$offset}:hover,
      .secondary-color-text-hover-#{$offset}:hover {
        @if ($type == 'lighten') {
          color: lighten($color, $amount) !important;
        } @else if($type == 'darken') {
          color: darken($color, $amount) !important;
        } @else {
          color: $color !important;
        }
      }
    }
  } @else {
    .#{$name} {
      background-color: $color !important;
    }

    .#{$name}-text {
      color: $color !important;
    }

    .btn.#{$name},
    .fab.#{$name} {
      background-color: $color !important;

      &[class^='-hover']:hover {
        background-color: lighten($color, $lighten-darken-amount * 2) !important;
      }
    }

    .btn.#{$name}-text,
    .fab.#{$name}-text {
      color: $color !important;

      &:hover {
        color: lighten($color, $lighten-darken-amount * 2) !important;
      }
    }

    .btn.#{$name}-hover:hover,
    .fab.#{$name}-hover:hover,
    .#{$name}-hover:hover {
      background-color: $color !important;
    }

    .btn.#{$name}-text-hover:hover,
    .fab.#{$name}-text-hover:hover,
    .#{$name}-text-hover:hover {
      color: $color !important;

      &[class^='-hover']:hover {
        color: darken($color, $lighten-darken-amount * 2) !important;
      }
    }

    @if $name == $primary {
      .primary-color {
        background-color: $color !important;
      }

      .btn.primary-color,
      .fab.primary-color {
        &:hover {
          background-color: lighten($color, $lighten-darken-amount * 2) !important;
        }
      }

      .primary-color-text {
        color: $color !important;
      }
    }

    @if $name == $secondary {
      .secondary-color {
        background-color: $color !important;
      }

      .btn.secondary-color,
      .fab.secondary-color {
        &:hover {
          background-color: lighten($color, $lighten-darken-amount * 2) !important;
        }
      }

      .secondary-color-text {
        color: $color !important;
      }
    }
  }
}

.btn.black,
.fab.black,
.black {
  background-color: #000000 !important;

  &.btn:hover {
    background-color: #000000 !important;
  }
}

.btn.black-text,
.fab.black-text,
.black-text {
  color: #000000 !important;

  &.btn:hover {
    color: #000000 !important;
  }
}

.btn.white,
.fab.white,
.white {
  background-color: #ffffff !important;

  &.btn:hover {
    background-color: #ffffff !important;
  }
}

.btn.white-text,
.fab.white-text,
.white-text {
  color: #ffffff !important;

  &.btn:hover {
    color: #ffffff !important;
  }
}

@each $name, $color in $base-colors {
  $amount: 40;

  @for $i from 0 through 9 {
    @if $i == 0 {
      @include color-overrides($name, $color, $primary, 50, $amount, 'lighten');
      $amount: $amount - $lighten-darken-amount;
    } @else if $i == 5 {
      @include color-overrides($name, $color, $primary, 0, $amount, '');
      $amount: $amount + $lighten-darken-amount;
    } @else if $i < 5 {
      @include color-overrides($name, $color, $primary, $i * 100, $amount, 'lighten');
      $amount: $amount - $lighten-darken-amount;
    } @else if $i > 5 {
      @include color-overrides($name, $color, $primary, $i * 100, $amount, 'darken');
      $amount: $amount + $lighten-darken-amount;
    }
  }
}
