body,
html {
  font-size: 15px;
  font-weight: 400;
}

body {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

////////////////////////////////////////////////////////////////////////////////
/// Headers
////////////////////////////////////////////////////////////////////////////////
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}
$fontsize: $h1-fontsize + $h-font-decrease-amount;

@for $i from 1 through 6 {
  h#{$i} {
    $fontsize: $fontsize - $h-font-decrease-amount;
    font-size: $fontsize;
    line-height: 110%;
    margin: ($fontsize / 2) 0 ($fontsize / 2.5) 0;

    small {
      font-size: .6em;
      vertical-align: middle;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
/// Links
////////////////////////////////////////////////////////////////////////////////
a {
  text-decoration: none;
  color: $link-text-color;
}

a:hover {
  color: $hover-text-color;
}

////////////////////////////////////////////////////////////////////////////////
/// Misc
////////////////////////////////////////////////////////////////////////////////
hr {
  border: none;
  border-bottom: solid 1px #ccc;
  width: 100%;
  margin: 40px 0;
}

p {
  font-size: 1.25rem;
  margin: $paragraph-margins;
}

p:not(.flow-text) {
  line-height: 2rem;
}

p:last-child {
  margin-bottom: 0;
}

p:first-child {
  margin-top: 0;
}

:not(pre) > code {
  background-color: $light-grey;
  color: $secondary-color;
  padding: 0 3px;
  border-radius: $border-radius;
}